/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;300;500&display=swap'); /* font-family: 'Barlow Semi Condensed', sans-serif; */

/* section for behaviour of base elements */

img {
    display: inline-flex;
    height: 100%;
}

body{
    background-color: rgb(175, 194, 175);
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

/* section for navigation bar at the top of the screen */

#top_nav {
    background-color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.nav_bar {
    height: 100px;
    flex-grow: 1;
    margin-left: 450px;
}

#nav_button {
    display: inline-flex;
    font-size: 25px;
    color: forestgreen;
    width: 200px;
    height: 100px;
    justify-content: center;
    line-height: 100px;
}

.logo {
    height: 100px;
    width: 100px;
}

#logo{
    height: 100px;
    width: 100px;
}

#bar {
    background-color: forestgreen;
    width: 100%;
    height: 3px;
    margin-bottom: 2px;
}

.container {
    display: flex;
}

/* section for home tab */

#home{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

/* section for about tab */
#about{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}


/* section for gallery tab */
#gallery{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}


/* section for consult tab */
#consult{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}


/* section for the boxes of each section */

#middle_sec{
    height: 550px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid forestgreen;
    color: rgb(0, 0, 0);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

#paragraph {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
    font-size: 25px;
}

#logo2 {
    /*border: 1px dashed red;*/
}

#logo2 img {
    height: 200px;
    width: auto;
    display:block;
    margin:auto;
}

.bold{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

/* back to top button */
#back_to_top {
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid forestgreen;
    z-index: 10; 
    position: fixed;
    left: 0; 
    bottom: 0; 
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: forestgreen;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
}




/* section for behaviour of interaction elements */
.container a:link {
    text-decoration: none;
}

.container a:hover{
    background-color: #ADACB5;
    cursor: pointer;
}
.container a:active{
    background-color: #ADACB5;
}

#logo a:hover{
    cursor: pointer;
}

#back_to_top a:visited{
    color: forestgreen;
}

#back_to_top a:link{
    text-decoration: none;
}

#back_to_top a{
    color: forestgreen;
}
